<ion-view style="color: #FFFFFF;" title="Accueil">
    <ion-tabs style="background-color: #FFFFFF;" class="tabs-icon-top tabs-dark">
        <ion-tab title="Chapitres" icon="ion-home" href="#/controllerAPPi/home">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Langues" icon="ion-android-globe" href="#/controllerAPPi/languages">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Paramètres" icon="ion-android-settings" href="#/controllerAPPi/bible">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>